*{
	box-sizing: border-box
	
}

/*body styling starts here*/

body{
	font-family: 'Source Sans Pro', sans-serif;
	background:#f2f2f2;
	color: #323232;
	line-height: 1.4;
}

/*affects the last line*/
section:last-child{
      border-bottom: none;
  }

/*body styling ends */

/*section one styling starts */

.personal-statement{
	font-weight: bold;
    font-size: 18px;
} 

/*home link starts*/
a {
    color: #323232;
	text-decoration: none;
	transition: 0.3s ease;
  }
a:hover {
	background-color:#FFFFFF;
	padding: 10px;
    border-radius: 7px;
  }

  nav{
	  padding: 12px;
  }
  nav ul li a.active{
    border-bottom: 2px solid  yellow;
}
/*home link ends*/

.wrapper{
	max-width: 960px;
	margin: 40px auto;
	padding: 32px;
	background: #FFFFFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img{
	max-width: 100%;
	width: 140px;
	border-radius: 50%;
}
.left{
	font-size: 18px;  
    font-weight: bold;
    padding: 12px;
}
.right{
	padding: 12px;
}
.name{
      font-size: 45px;
      line-height: 1;
 }
.title{
      font-size: 20px;
      font-weight: 300;
      color: #236fb2;
      margin-top: 20px;
  }
.job-title{
	font-weight: bold;
    font-size: 18px;
}
nav ul li{
      list-style: none;
	  font-size: 20px;
	  display: inline;
	  padding: 20px;
  }
/*grid applied */

section{
/*	border: 1px solid red;*/
	display: grid;
	grid-template-columns: 1fr 4fr;
	padding: 20px;
	border-bottom: 1px solid #BCBCBC;
	grid-gap: 20px;
}
/*grid applied ends*/

@media(max-width : 747px){
	section{
		grid-template-columns: 1fr;
	}
	nav ul li {
		padding: 2px;
		font-size: 24px;
	}
	nav ul {
		display: flex;
		padding: 0px;
	}
}
